name: Publish
on:
  release:
    types: [published]

env:
  CARGO_TERM_COLOR: always
  RUST_VERSION: 1.87.0

jobs:
  publish:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ env.RUST_VERSION }}
      - name: Install dependencies ubuntu
        run: make install-deps-ubuntu-openslide3
      - uses: katyo/publish-crates@v2
        with:
          dry-run: ${{ github.event_name != 'release' }}
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
